.albums
  display grid
  grid-auto-rows 4.6rem
  grid-auto-flow row dense
  grid-template-columns repeat(auto-fit, minmax(20rem, 1fr))
  list-style-type none

  .album
    display grid
    gap 0 0.5rem
    grid-template-rows 1.2rem 1.2rem 1.2rem
    grid-template-columns 3.6rem auto
    grid-template-areas 'art title' 'art artist' 'art genre'
    margin 0.1rem
    padding 0.5rem 0
    position relative

    &:nth-child(odd)
      background #eee

    &.active
      grid-template-rows 1.2rem 1.2rem 1.2rem auto
      grid-template-areas 'art title' 'art artist' 'art genre' 'songs songs'
      grid-row-end span 5

    .art
      grid-area art
      height 3.6rem

      img
        width 100%
        height 100%
        object-fit cover

    .artist
    .title
      width 100%
      overflow hidden
      white-space nowrap
      text-overflow ellipsis

    .title
      grid-area title

    .artist
      grid-area artist

    .genre
      grid-area genre

    .songs
      grid-area songs
      list-style-type none
      max-height 100%
      overflow-x hidden
      overflow-y auto

      .title
        font-weight normal

