.playlists
  display flex
  flex-flow column

  .playlist
    display flex
    flex-flow row
    height 3.6em
    overflow hidden
    padding 0.5em

    &:nth-child(even)
      background #ccc

    &.active
      background #ffc

    .arts
      display flex
      flex-flow row wrap

      .art
        height 1.1em
        margin 0 0.1em 0.1em 0
        width 1.1em
