.player
  display flex
  flex-flow column
  padding-bottom 2em

  .item
    &:nth-child(even)
      background #ccc
    &.current
      background #def

  .info
    display flex
    gap 0.5em
    padding 0.3em

    .art
      height 2em
      width 2em

    .title
    .artist
    .album
    .genre
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

    .remove
      font-size 2em
      margin-right -2em
      text-align right

  &.removable
    margin-left -2em

  .scrubber
    background #bdf
    height 1.2em
    position relative
    width 100%

    .bar
      background #9cf
      bottom 0
      height 100%
      left 0
      overflow hidden
      position absolute
      top 0

    .time
      padding-right 0.4em
      position absolute
      right 0
      text-align right
